<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="head">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" th:href="@{/assets/img/favicon.ico}">
        <title>Mediumish - A Medium style template by WowThemes.net</title>
        <!-- Bootstrap core CSS -->
        <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet">
        <!-- Fonts -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link th:href="@{/assets/css/mediumish.css}" rel="stylesheet">
    </div>
</body>
</html>